$primary: #161A30;
$secondary: #31304D;
$highlight: #B6BBC4;
$light: #F0ECE5;
$dark: #0e111f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $highlight;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark;
    display: flex;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 24px;
}

header {
    position: fixed;
    width: 600px;
    height: 100%;
    padding: 95px 0 80px 68px;

    .title {
        color: $light;
    }

    .subtitle {
        margin-top: 12px;
        color: $light;
    }

    .description {
        line-height: 2;
        margin-top: 38px;
    }
    
    .nav-link {
        text-decoration: none;
    }

    .social-links {
        display: inline-block;
        position: absolute;
        bottom: 80px;

        a {
            margin-inline-end: 4px;

            i {
                font-size: 24px;
            }
        }
    }
}

nav {
    margin-top: 64px;

    ul {
        list-style: none;

        li {
            padding-block: 12px;

            a {
                
            }

            &:hover {
                color: $light;
                font-weight: bold;
                font-size: 16px;
                transition: border-color 0s, font-size 0.3s ease-out;
            }
        }
    }
}

main {
    margin-left: 600px;
    width: 100%;
    padding: 95px 68px 80px 50px;
    
    section {
        padding-block: 16px;
    }
}